body{
	margin: auto;
	width:auto;
	height: auto;
	overflow-x: hidden;
}

/*HEADER*/

div.header{
	background-color:#F5F5F5;
	height:100px;
	width: 100%;
	padding: 13px;
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
	backface-visibility: hidden;
}

div.header-left {
	padding-top: 0px;
	margin-top: 9px;
}

div.header-right {
    float: right;
	padding-top: 0px;
}

div.header-text-left{
	 float: left;
	 margin-top: 10px;
}

img.redLifePhLogo{
	float: left;
	width: 70px;
	height: 70px;
	margin-right: 23px;
	margin-left: 30px;
	padding: 5px;
}

div.PRCCompany{
	font-weight:lighter;
	font-family: "Lato";
	text-transform:uppercase;
	font-size: 18px;
	line-height: 20px;
}

div.redLifePhName{
	font-family: "Chewy", sans-serif;
	font-size: 27px;
	color: red;
}

img.loginIcon{
	float: right;
	width: 40px;
	height: 40px;
	margin-right: 20px;
	margin-top: 5px;
	padding: 5px;
}

div.LoginLink {
	margin-right: 55px;
	margin-top: 3px;
	padding: 10px;
}

a.LoginPage{
	font-family: "Lato";
    font-size: 15px;
    color: black;
    font-weight: normal;
    text-decoration:none;
}
	a.LoginPage:hover {
        font-weight: bold;
    }

/*BODY CONTENT*/

div.content{
	background: red url(../res/img/Picture1.png);
	background-repeat: no-repeat;
	width: 100%;
	height: 630px;
	background-size: cover;
	justify-content: center;
	position: relative;
	position: -webkit-sticky;
	z-index: 1;
}

div.color-overlay{
	width: 100%;
	height: 100%;
	background-color: red ;
	opacity: .7;
	position: absolute;
}

div.row{
	text-align: center;
}

div.welcomeHeadTitle{
	font-family: "Chewy", sans-serif;
	color: white;
	margin-top: 70px;
	margin-bottom: 100px;
	font-size: 50px ;
	z-index: 1;
	text-align: center;
}

img.logo {
	width: 130px;
	height: 128px;
}

	img.logo:hover{
		width: 140px;
		height: 138px;
		cursor: pointer;
	}
div.col-md-2{
	z-index: 1;
		text-align: center;
}

div.buttonTitle{
	margin-top: 10px;
	font-family: 'GlacialIndifferenceRegular';
	letter-spacing: 2px;
	color: white;
	font-size: 25px;
}

div.buttonSubtitle{
	margin-top: 10px;
	font-family: 'GlacialIndifferenceRegular';
	letter-spacing: 1px;
	color: white;
	font-size: 15px;
	font-weight: lighter;
}

/*LOGIN PAGE*/

div.col-sm-7, div.col-sm-5{
	z-index: 1;
}

p.welcome{
	font-family: "Chewy", sans-serif;
	color: white;
	margin-top: 150px;
	margin-bottom: 0px;
	font-size: 110px ;
	text-align: left;
	margin-left: 150px;
}

p.description{
	font-family: 'GlacialIndifferenceRegular';
	text-align: left;
	margin-left: 150px;
	color: white;
	font-size: 25px;
	margin-top: 0px;
}

div.login-box{
	background-color: white;
	border-radius: 8px;
	height: 400px;
	width: 350px;
	margin-top: 100px;
}

input.login-email, input.login-password{
	margin-bottom: 10px;
	width: 280px;
	height: 35px;
	border-radius: 20px;
	color:black;
	border-color: #969FAA;
	border-style: groove;	
	padding-left: 15px;
}

button.loginBtn{
	margin-bottom: 10px;
	width: 280px;
	height: 35px;
	border-radius: 20px;
	background-color: #FF0004;
	border: none;
	color: white;
}

p.forgotPassword{
	color: red;
}

button.registrationBtn{
	width: 280px;
	height: 35px;
	border-radius: 20px;
	background-color: white;
	border-color: #FF0004;
	color: #FF0004;
	font-weight: bold;
}

p.forgotPassword{
	margin-top: 15px;
	margin-bottom: 40px;
}

div.col-sm-5{
	text-align: center;
}

/* REGISTRATION PAGE*/
div.registration-box{
	background-color: white;
	border-radius: 8px;
	height: 500px;
	width: 450px;
	margin-top: 50px;
	text-align: left;
}

form.registration-form{
	display: table;
	padding-left: 50px;
	padding-top: 10px;
}

p.row1, p.row2, p.row3, p.row4, p.row5, p.row6, p.row7{
	display: table-row;
}

label {
	display: table-cell;
}

input.firstname,input.lastname,input.birth, select.gender, input.email, input.contact, input.password{
	margin-bottom: 10px;
	width: 250px;
	margin-left: 10px;
	height: 35px;
	border-radius: 20px;
	color: black;
	border-color: #969FAA;
	border-style: groove;
	display: table-cell;
	padding-left: 15px;
	padding-right: 10px;
}

label.reg{
	text-align: left;
}

button.registerBtn{
	width: 370px;
	height: 35px;
	border-radius: 20px;
	background-color: #FF0004;
	border: none;
	color: white;
}

div.registerBtn{
	text-align: center;
	margin-left: 0px;
}

div.bottom-form{
	text-align: center;
}

a.TCandPolicy{
	color: red;
	text-decoration: none;
	margin-top: 0px;
}
	a.TCandPolicy:hover{
		font-weight: bold;
		text-decoration: underline;
	}


/*FOOTER*/

div.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: red;
	color: white;
}

a.Terms-and-Privacy-Setting{
	font-family: "Lato";
	color: white;
    font-size: 15px;
    font-weight: normal;
    text-decoration:none;
	padding: 0px;
}
	a.Terms-and-Privacy-Setting:hover {
		font-weight: bold;
	}

div.Terms-and-Privacy-Setting{
	width: 500px;
	float: left;
	margin-left: 15px;
	margin-top: 12px;
}

div.footer-info{
	color: white;
	font-size: 15px;
	width: 500px;
	float: right;
	text-align: right;
	margin-right: 15px;
	margin-top: 12px;
}

div.row{
	text-align: left;
}