<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Chewy|Lato|Montserrat|Questrial">
	<link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/glacial-indifference" type="text/css"/>
	<link rel = "stylesheet" type="text/css" href="style.css">

	<!--gumagana pero mabilisan lang-->
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 

	<!--gumagana pero need i-repair-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css	">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">			
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular.min.js"></script>

    <title>Donate | Schedule Appointment</title>
</head>
<body>
	<!-- #region HEADER-->
    <div class="header" id="myHeader" style="z-index: 1"> 
		<div class="header-left">
			<img src="res/redLifePhLogo.png" class="redLifePhLogo" alt="redLifePhLogo">
			<div class="header-text-left">
				<div class="PRCCompany">philippine red cross cavite chapter</div>
				<div class="redLifePhName">redLife.ph</div>
			</div>
		</div>

		<div class="header-right">
			<div class="HomeLink">
				<a href ="donor-homePage.html" class="indexPage">Home</a>
				<div class="dropdown-myProfile">
					<button class="dropbtn">My Profile</button>
					<div class="dropdown-content">
						<a href="#">Manage Profile</a>
						<a href="#">Donation History</a>
						<a href="#">Manage Appointment</a>
						<a href="#">Donors Card</a>
						<a href="#">Logout</a>
					</div>
				</div> 
			</div>
		</div>
	</div>
	<!-- #endregion -->

	<!-- #region CONTENT-->
	<div class="container-fluid" id="grad1">
		<div class="row justify-content-center mt-0">
			<div class="col-11 col-sm-9 col-md-7 col-lg-6 text-center p-0 mt-3 mb-2">
				<div class="card px-0 pt-4 pb-0 mt-3 mb-3">
					<h1><strong>Schedule an Appointment</strong></h1>
					<p>Fill all form field to go to next step</p>
					<div class="row">
						<div class="col-md-12 mx-0">
							<form id="msform">
								<!-- progressbar -->
								<ul id="progressbar">
									<li class="active" id="check"><strong>Eligibility check</strong></li>
									<li id="center"><strong>Donor Center</strong></li>
									<li id="schedule"><strong>Schedule</strong></li>
									<li id="confirm"><strong>Confirmation</strong></li>
								</ul> 
								<!-- FIELDSETS -->
								<!-- #region Check Eligibility-->
								<fieldset>
									<div class="form-card">
										<div class="fs-info">To protect the receipients and donors of this blood donation, we ask questions before you can donate.</div><br>
										<div class="fs-info">Answer a few quick questions to find out if you're eligible for blood donation.</div> <br>
										<div>
											<label class="container"><p>Are you feeling unwell lately?</p>
												<input type="checkbox">
												<span class="checkmark"></span>
											</label>
											<label class="container">
												<input type="checkbox"><p>Do you weight less than 50 kg?</p>
												<span class="checkmark"></span>
											</label>
											<label class="container">
												<input type="checkbox"><p>Do you have serious heart condition, or have you ever had a heart attack or stroke?</p>
												<span class="checkmark"></span>
											</label>
											<label class="container">
												<input type="checkbox"><p>In the last 3 months, have you engaged in at risk sexual behaviour?</p>
												<span class="checkmark"></span>
											</label>
											<label class="container">
												<input type="checkbox"><p>Are you pregnant, or have been pregnant in the last 9 months?</p>
												<span class="checkmark"></span>
											</label>
											<label class="container">
												<input type="checkbox"><p>Are you taking antibiotics?</p>
												<span class="checkmark"></span>
											</label>
											<label class="container">
												<input type="checkbox"><p>Have you (or will have) any dental work in a week before your donation?</p>
												<span class="checkmark"></span>
											</label>
											<label class="container">
												<input type="checkbox"><p>Have you had a tattoo, 11 months before your donation?</p>
												<span class="checkmark"></span>
											</label>
											<label class="container">
												<input type="checkbox"><p>None of the following</p>
												<span class="checkmark"></span>
											</label>
										</div>
									</div> 
									<input type="button" name="next" class="next action-button" value="Next Step" />
								</fieldset>
								<!-- #endregion -->

								<!-- #region Donor center-->
								<fieldset>
									<div class="form-card">
										<div class="row">
											<div class="col-md-12 d-flex justify-content-center right-bck">
												<div class="list-container">
													<h2 class="fs-title text-center">Choose Donor Center</h2> <br><br>
													<div class="donor-center-list">
														<div class="gallery">
															<div class="card flex-row" id="card">
																<img class="card-img-left img-fluid" src="/modules/donor/res/PRC_Image.png" alt="Cinque Terre" width="600" height="400"/>
																<div class="card-body" onclick="sel(this)" >
																	<h4 class="card-title h5 h4-sm"><br><br><span>Dasmariñas Branch</span></h4>
																	<p class="card-text">Philippine Red Cross - Cavite Chapter Dasmariñas Branch, Emilio Aguinaldo Highway, Dasmarinas City</p>
																</div>
															</div>
														</div>
														
														<div class="gallery">
															<div class="card flex-row">
																<img class="card-img-left img-fluid" src="/modules/donor/res/PRC_Image.png" alt="Cinque Terre" width="600" height="400"/>
																<div class="card-body">
																	<h4 class="card-title h5 h4-sm"><br><br><span>Imus Branch</span></h4>
																	<p class="card-text">Philipphine Red Cross - Cavite Chapter Imus Branch, Rosal, Imus, Cavite</p>
																</div>
																<div class="overlay">
																	<a class="icon"><i class="fa fa-lock"></i></a>
																</div>
															</div>
														</div>

														<div class="gallery">
															<div class="card flex-row">
																<img class="card-img-left img-fluid" src="/modules/donor/res/PRC_Image.png" alt="Cinque Terre" width="600" height="400"/>
																<div class="card-body">
																	<h4 class="card-title h5 h4-sm"><br><br><span>Carmona Branch</span></h4>
																	<p class="card-text">Philippine Red Cross - Cavite Chapter Carmona Branch, Alfonso Macha St, Carmona, Cavite</p>
																</div>
																<div class="overlay">
																	<a class="icon"><i class="fa fa-lock"></i></a>
																</div>
															</div>
														</div>

														<div class="gallery">
															<div class="card flex-row">
																<img class="card-img-left img-fluid" src="/modules/donor/res/PRC_Image.png" alt="Cinque Terre" width="600" height="400"/>
																<div class="card-body">
																	<h4 class="card-title h5 h4-sm"><br><br><span>Paranaque Branch</span></h4>
																	<p class="card-text">Philippine Red Cross - Rizal Chapter Paranaque Branch, San Isidro, Parañaque, 1709 Metro Manila</p>
																</div>
																<div class="overlay">
																	<a class="icon"><i class="fa fa-lock"></i></a>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<input type="button" name="previous" class="previous action-button-previous" value="Previous" /> 
									<input type="button" name="next" class="next action-button" value="Next Step" />
								</fieldset>
								<!-- #endregion -->

								<!-- #region Schedule-->
								<fieldset>
									<div class="form-card">
										<p class="note"> NOTE: Blood Donation at Dasmariñas branch is every Saturday only</p>
										<div class="row justify-content-center">
											<div class="col-7">									
												<div class="app-container" ng-app="dateTimeApp" ng-controller="dateTimeCtrl as ctrl" ng-cloak>
													<div date-picker
														datepicker-title="Select Date"
														picktime="true"
														pickdate="true"
														pickpast="false"
														mondayfirst="false"
														selecteddate="ctrl.selected_date"
														updatefn="ctrl.updateDate(newdate)">
														
														<div class="datepicker">
															<div class="datepicker-calendar">
																<div class="calendar-header">
																	<div class="goback" ng-click="moveBack()" ng-if="pickdate">
																		<svg width="30" height="30">
																			<path fill="none" stroke="#0DAD83" stroke-width="3" d="M19,6 l-9,9 l9,9"/>
																		</svg>
																	</div>
																	<div class="current-month-container">{{ currentViewDate.getFullYear() }} {{ currentMonthName() }}</div>
																	<div class="goforward" ng-click="moveForward()" ng-if="pickdate">
																		<svg width="30" height="30">
																			<path fill="none" stroke="#0DAD83" stroke-width="3" d="M11,6 l9,9 l-9,9" />
																		</svg>
																	</div>
																</div>
																<div class="calendar-day-header">
																	<span ng-repeat="day in days" class="day-label">{{ day.short }}</span>
																</div>
																<div class="calendar-grid" ng-class="{false: 'no-hover'}[pickdate]">
																	<div
																		ng-class="{'no-hover': !day.showday}"
																		ng-repeat="day in month"
																		class="datecontainer"
																		ng-style="{'margin-left': calcOffset(day, $index)}"
																		track by $index>
																		<div class="datenumber" ng-class="{'day-selected': day.selected }" ng-click="selectDate(day)">
																			{{ day.daydate }}
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="datepicker-header">
															<div class="datepicker-subheader">{{ selectedDay }} {{ monthNames[localdate.getMonth()] }} {{ localdate.getDate() }}, {{ localdate.getFullYear() }}</div>
														</div>
													</div>
												</div>
											</div>
											<div class="col-5">
												<div class="timeline"><br><br>Available Time</div>	
											</div>
										</div>
									</div> 

									<input type="button" name="previous" class="previous action-button-previous" value="Previous" /> 
									<input type="button" name="make_payment" class="next action-button" value="Next Step" />

								</fieldset>
								<!-- #endregion -->

								<!-- #region Confirmation-->
								<fieldset>
									<div class="form-card">
										<h2 class="fs-title text-center">Confirm your Appointment</h2> <br><br>
										<div class="row">
											<div class="col-5">
												<div class="leftConfirmation">
													Display date
												</div>
											</div>
											<div class="col-7">
												<div class="rightConfirmation">
													Display time and donor center
													<!--<img src="https://img.icons8.com/color/96/000000/ok--v2.png" class="fit-image"> -->
												</div>
											</div>	
										</div>
									</div>
									<input type="button" name="previous" class="previous action-button-previous" value="Previous" /> 

										
											
									<button type="button" class="btn btn-primary m-3" data-toggle="modal" data-target="#exampleModal"> Launch discount modal </button>
										
									<input type="button" name="make_payment" class="next action-button" value="Confirm"  data-toggle="modal" data-target="#exampleModal"/>
									
									<!--Confirmation Modal-->

									<!-- Launch Modal -->
									<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
										<div class="modal-dialog" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title text-center" id="exampleModalLabel">Big Festival Sale</h5> <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
												</div>
												<div class="modal-body">
													<h3>Get 60% discount on all products</h3>
													<p>@ BBBootstrap.com</p> <button type="button" class="btn btn-custom">Get Now</button>
												</div>
											</div>
										</div>
									</div>


										
								</fieldset>
							
								<!-- #endregion -->
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- #endregion -->

	<!--#region FOOTER -->
		<div class="footer"> 
			<div class="row">
				<div class="col-md-6">
					<div class="Terms-and-Privacy-Setting">
						<a href ="Terms and Condition.html" class="Terms-and-Privacy-Setting">Terms and Condition | </a>
						<a href ="Privacy Setting.html" class="Terms-and-Privacy-Setting">Privacy Setting</a>
					</div>
				</div>
				<div class="col-md-6">
					<div class="footer-info">2021 Philippine Red Cross - redLife.ph</p>
				</div>
			</div>
		</div>
	<!-- #endregion -->
	
<!-- FIREBASE CONFIGURATION -->

	<!--#region Stepper Code -->
		<script>
			$(document).ready(function(){

			var current_fs, next_fs, previous_fs; //fieldsets
			var opacity;

			$(".next").click(function(){

			current_fs = $(this).parent();
			next_fs = $(this).parent().next();

			//Add Class Active
			$("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

			//show the next fieldset
			next_fs.show();
			//hide the current fieldset with style
			current_fs.animate({opacity: 0}, {
			step: function(now) {
			// for making fielset appear animation
			opacity = 1 - now;

			current_fs.css({
			'display': 'none',
			'position': 'relative'
			});
			next_fs.css({'opacity': opacity});
			},
			duration: 600
			});
			});

			$(".previous").click(function(){

			current_fs = $(this).parent();
			previous_fs = $(this).parent().prev();

			//Remove class active
			$("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

			//show the previous fieldset
			previous_fs.show();

			//hide the current fieldset with style
			current_fs.animate({opacity: 0}, {
			step: function(now) {
			// for making fielset appear animation
			opacity = 1 - now;

			current_fs.css({
			'display': 'none',
			'position': 'relative'
			});
			previous_fs.css({'opacity': opacity});
			},
			duration: 600
			});
			});

			$('.radio-group .radio').click(function(){
			$(this).parent().find('.radio').removeClass('selected');
			$(this).addClass('selected');
			});

			$(".submit").click(function(){
			return false;
			})

			});
		</script>
	<!--#endregion -->

	<!--#region onClicked-->
		<script>
			function sel(id) {
			var divs=document.getElementById('card').getElementsByTagName('div');  //get all divs from div called container
			for(var i=0;i<divs.length; i++) {
				if(divs[i]!=id) {  //if not selected div set .items css
					divs[i].className='card-body';
				}
			}
			id.className='selitem';  //set different css for selected one
			}
		</script>
	<!--#endregion-->

	<!--#region Date and Time-->
<script>
	var app = angular.module('dateTimeApp', []);

	app.controller('dateTimeCtrl', function ($scope) {
		var ctrl = this;
		
		ctrl.selected_date = new Date();
		ctrl.selected_date.setHours(10);
		ctrl.selected_date.setMinutes(0);
		
		ctrl.updateDate = function (newdate) {
			
			// Do something with the returned date here.
			
			console.log(newdate);
		};
	});

	// Date Picker
	app.directive('datePicker', function ($timeout, $window) {
		return {
			restrict: 'AE',
			scope: {
				selecteddate: "=",
				updatefn: "&",
				open: "=",
				datepickerTitle: "@",
				customMessage: "@",
				picktime: "@",
				pickdate: "@",
				pickpast: '=',
				mondayfirst: '@'
			},
			transclude: true,
			link: function (scope, element, attrs, ctrl, transclude) {
				transclude(scope, function(clone, scope) {
					element.append(clone);
				});
				
				if (!scope.selecteddate) {
					scope.selecteddate = new Date();
				}

				if (attrs.datepickerTitle) {
					scope.datepicker_title = attrs.datepickerTitle;
				}

				scope.days = [
					{ "long":"Sunday","short":"Sun" },
					{ "long":"Monday","short":"Mon" },
					{ "long":"Tuesday","short":"Tue" },
					{ "long":"Wednesday","short":"Wed" },
					{ "long":"Thursday","short":"Thu" },
					{ "long":"Friday","short":"Fri" },
					{ "long":"Saturday","short":"Sat" },
				];
				if (scope.mondayfirst == 'true') {
					var sunday = scope.days[0];
					scope.days.shift();
					scope.days.push(sunday);
				}

				scope.monthNames = [
					"January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"
				];

				function getSelected() {
					if (scope.currentViewDate.getMonth() == scope.localdate.getMonth()) {
						if (scope.currentViewDate.getFullYear() == scope.localdate.getFullYear()) {
							for (var number in scope.month) {
								if (scope.month[number].daydate == scope.localdate.getDate()) {
									scope.month[number].selected = true;
									if (scope.mondayfirst == 'true') {
										if (parseInt(number) === 0) {
											number = 6;
										} else {
											number = number - 1;
										}
									}
									scope.selectedDay = scope.days[scope.month[number].dayname].long;
								}
							}
						}
					}
				}

				function getDaysInMonth() {
					var month = scope.currentViewDate.getMonth();
					var date = new Date(scope.currentViewDate.getFullYear(), month, 1);
					var days = [];
					var today = new Date();
					while (date.getMonth() === month) {
						var showday = true;
						if (!scope.pickpast && date < today) {
							showday = false;
						}
						if (today.getDate() == date.getDate() &&
							today.getYear() == date.getYear() &&
							today.getMonth() == date.getMonth()) {
							showday = true;
						}
						var day = new Date(date);
						var dayname = day.getDay();
						var daydate = day.getDate();
						days.push({ 'dayname': dayname, 'daydate': daydate, 'showday': showday });
						date.setDate(date.getDate() + 1);
					}
					scope.month = days;
				}

				function initializeDate() {
					scope.currentViewDate = new Date(scope.localdate);
					scope.currentMonthName = function () {
						return scope.monthNames[scope.currentViewDate.getMonth()];
					};
					getDaysInMonth();
					getSelected();
				}

				// Takes selected time and date and combines them into a date object
				function getDateAndTime(localdate) {
					var time = scope.time.split(':');
					if (scope.timeframe == 'am' && time[0] == '12') {
						time[0] = 0;
					} else if (scope.timeframe == 'pm' && time[0] !== '12') {
						time[0] = parseInt(time[0]) + 12;
					}
					return new Date(localdate.getFullYear(), localdate.getMonth(), localdate.getDate(), time[0], time[1]);                
				}

				// Convert to UTC to account for different time zones
				function convertToUTC(localdate) {
					var date_obj = getDateAndTime(localdate);
					var utcdate = new Date(date_obj.getUTCFullYear(), date_obj.getUTCMonth(), date_obj.getUTCDate(), date_obj.getUTCHours(), date_obj.getUTCMinutes());
					return utcdate;
				}
				// Convert from UTC to account for different time zones
				function convertFromUTC(utcdate) {
					localdate = new Date(utcdate);
					return localdate;
				}

				// Returns the format of time desired for the scheduler, Also I set the am/pm
				function formatAMPM(date) {
					var hours = date.getHours();
					var minutes = date.getMinutes();
					hours >= 12 ? scope.changetime('pm') : scope.changetime('am');
					hours = hours % 12;
					hours = hours ? hours : 12; // the hour '0' should be '12'
					minutes = minutes < 10 ? '0' + minutes : minutes;
					var strTime = hours + ':' + minutes;
					return strTime;
				}
				
				scope.$watch('open', function() {
					if (scope.selecteddate !== undefined && scope.selecteddate !== null) {
						scope.localdate = convertFromUTC(scope.selecteddate);
					} else {
						scope.localdate = new Date();
						scope.localdate.setMinutes(Math.round(scope.localdate.getMinutes() / 60) * 30);
					}
					scope.time = formatAMPM(scope.localdate);
					scope.setTimeBar(scope.localdate);
					initializeDate();
					scope.updateInputTime();
				});

				scope.selectDate = function (day) {

					if (scope.pickdate == "true" && day.showday) {
						for (var number in scope.month) {
							var item = scope.month[number];
							if (item.selected === true) {
								item.selected = false;
							}
						}
						day.selected = true;
						scope.selectedDay = scope.days[day.dayname].long;
						scope.localdate = new Date(scope.currentViewDate.getFullYear(), scope.currentViewDate.getMonth(), day.daydate);
						initializeDate(scope.localdate);
						scope.updateDate();
					}
				};

				scope.updateDate = function () {
					if (scope.localdate) {
						var newdate = getDateAndTime(scope.localdate);
						scope.updatefn({newdate:newdate});
					}
				};

				scope.moveForward = function () {
					scope.currentViewDate.setMonth(scope.currentViewDate.getMonth() + 1);
					if (scope.currentViewDate.getMonth() == 12) {
						scope.currentViewDate.setDate(scope.currentViewDate.getFullYear() + 1, 0, 1);
					}
					getDaysInMonth();
					getSelected();
				};

				scope.moveBack = function () {
					scope.currentViewDate.setMonth(scope.currentViewDate.getMonth() - 1);
					if (scope.currentViewDate.getMonth() == -1) {
						scope.currentViewDate.setDate(scope.currentViewDate.getFullYear() - 1, 0, 1);
					}
					getDaysInMonth();
					getSelected();
				};

				scope.calcOffset = function (day, index) {
					if (index === 0) {
						var offset = (day.dayname * 14.2857142) + '%';
						if (scope.mondayfirst == 'true') {
							offset = ((day.dayname - 1) * 14.2857142) + '%';
						}
						return offset;
					}
				};
				
				///////////////////////////////////////////////
				// Check size of parent element, apply class //
				///////////////////////////////////////////////
				scope.checkWidth = function (apply) {
					var parent_width = element.parent().width();
					if (parent_width < 620) {
						scope.compact = true;
					} else {
						scope.compact = false;
					}
					if (apply) {
						scope.$apply();
					}
				};
				scope.checkWidth(false);
				
				//////////////////////
				// Time Picker Code //
				//////////////////////
				if (scope.picktime) {
					var currenttime;
					var timeline;
					var timeline_width;
					var timeline_container;
					var sectionlength;

					scope.getHours = function () {
						var hours = new Array(11);
						return hours;
					};

					scope.time = "12:00";
					scope.hour = 12;
					scope.minutes = 0;
					scope.currentoffset = 0;

					scope.timeframe = 'am';

					scope.changetime = function(time) {
						scope.timeframe = time;
						scope.updateDate();
						scope.updateInputTime();					
					};
					
					scope.edittime = {
						digits: []
					};
					
					scope.updateInputTime = function () {
						scope.edittime.input = scope.time + ' ' + scope.timeframe;
						scope.edittime.formatted = scope.edittime.input;
					};
					
					scope.updateInputTime();
					
					function checkValidTime (number) {
						validity = true;
						switch (scope.edittime.digits.length) {
							case 0:
								if (number === 0) {
									validity = false;
								}
								break;
							case 1:
								if (number > 5) {
									validity = false;
								} else {
									validity = true;
								}
								break;
							case 2:
								validity = true;
								break;
							case 3:
								if (scope.edittime.digits[0] > 1) {
									validity = false;
								} else if (scope.edittime.digits[1] > 2) {
									validity = false;
								} else if (scope.edittime.digits[2] > 5) {
									validity = false;
								}
								else {
									validity = true;								
								}
								break;
							case 4:
								validity = false;
								break;
						}
						return validity;
					}
					
					function formatTime () {
						var time = "";
						if (scope.edittime.digits.length == 1) {
							time = "--:-" + scope.edittime.digits[0];
						} else if (scope.edittime.digits.length == 2) {
							time = "--:" + scope.edittime.digits[0] + scope.edittime.digits[1];
						} else if (scope.edittime.digits.length == 3) {
							time = "-" + scope.edittime.digits[0] + ':' + scope.edittime.digits[1] + scope.edittime.digits[2];
						} else if (scope.edittime.digits.length == 4) {
							time = scope.edittime.digits[0] + scope.edittime.digits[1].toString() + ':' + scope.edittime.digits[2] + scope.edittime.digits[3];
							console.log(time);
						}
						return time + ' ' + scope.timeframe;
					};
					
					scope.changeInputTime = function (event) {
						var numbers = {48:0,49:1,50:2,51:3,52:4,53:5,54:6,55:7,56:8,57:9};
						if (numbers[event.which] !== undefined) {
							if (checkValidTime(numbers[event.which])) {
								scope.edittime.digits.push(numbers[event.which]);
								console.log(scope.edittime.digits);
								scope.time_input = formatTime();
								scope.time = numbers[event.which] + ':00';
								scope.updateDate();
								scope.setTimeBar();
							}
						} else if (event.which == 65) {
							scope.timeframe = 'am';
							scope.time_input = scope.time + ' ' + scope.timeframe;
						} else if (event.which == 80) {
							scope.timeframe = 'pm';
							scope.time_input = scope.time + ' ' + scope.timeframe;
						} else if (event.which == 8) {
							scope.edittime.digits.pop();
							scope.time_input = formatTime();
							console.log(scope.edittime.digits);
						}
						scope.edittime.formatted = scope.time_input;
						// scope.edittime.input = formatted;
					};
					
					var pad2 = function (number) {
						return (number < 10 ? '0' : '') + number;
					};
			
					scope.moving = false;
					scope.offsetx = 0;
					scope.totaloffset = 0;
					scope.initializeTimepicker = function () {
						currenttime = $('.current-time');
						timeline = $('.timeline');
						if (timeline.length > 0) {
							timeline_width = timeline[0].offsetWidth;
						}
						timeline_container = $('.timeline-container');
						sectionlength = timeline_width / 24 / 6;
					};

					angular.element($window).on('resize', function () {
						scope.initializeTimepicker();
						if (timeline.length > 0) {
							timeline_width = timeline[0].offsetWidth;
						}
						sectionlength = timeline_width / 24;
						scope.checkWidth(true);
					});
			
					scope.setTimeBar = function (date) {
						currenttime = $('.current-time');
						var timeline_width = $('.timeline')[0].offsetWidth;
						var hours = scope.time.split(':')[0];
						if (hours == 12) {
							hours = 0;
						}
						var minutes = scope.time.split(':')[1];
						var minutes_offset = (minutes / 60) * (timeline_width / 12);
						var hours_offset = (hours / 12) * timeline_width;
						scope.currentoffset = parseInt(hours_offset + minutes_offset - 1);
						currenttime.css({
							transition: 'transform 0.4s ease',
							transform: 'translateX(' + scope.currentoffset + 'px)',
						});
					};

					scope.getTime = function () {
						// get hours
						var percenttime = (scope.currentoffset + 1) / timeline_width;
						var hour = Math.floor(percenttime * 12);
						var percentminutes = (percenttime * 12) - hour;
						var minutes = Math.round((percentminutes * 60) / 5) * 5;
						if (hour === 0) {
							hour = 12;
						}
						if (minutes == 60) {
							hour += 1;
							minutes = 0;
						}

						scope.time = hour + ":" + pad2(minutes);
						scope.updateInputTime();
						scope.updateDate();
					};
			
					var initialized = false;

					element.on('touchstart', function() {
						if (!initialized) {
							element.find('.timeline-container').on('touchstart', function (event) {
								scope.timeSelectStart(event);
							});
							initialized = true;
						}
					});

					scope.timeSelectStart = function (event) {
						scope.initializeTimepicker();
						var timepicker_container = element.find('.timepicker-container-inner');
						var timepicker_offset = timepicker_container.offset().left;
						if (event.type == 'mousedown') {
							scope.xinitial = event.clientX;
						} else if (event.type == 'touchstart') {
							scope.xinitial = event.originalEvent.touches[0].clientX;
						}
						scope.moving = true;
						scope.currentoffset = scope.xinitial - timepicker_container.offset().left;
						scope.totaloffset = scope.xinitial - timepicker_container.offset().left;
						console.log(timepicker_container.width());
						if (scope.currentoffset < 0) {
							scope.currentoffset = 0;
						} else if (scope.currentoffset > timepicker_container.width()) {
							scope.currentoffset = timepicker_container.width();
						}
						currenttime.css({
							transform: 'translateX(' + scope.currentoffset + 'px)',
							transition: 'none',
							cursor: 'ew-resize',
						});
						scope.getTime();
					};
			
					angular.element($window).on('mousemove touchmove', function (event) {
						if (scope.moving === true) {
							event.preventDefault();
							if (event.type == 'mousemove') {
								scope.offsetx = event.clientX - scope.xinitial;
							} else if (event.type == 'touchmove') {
								scope.offsetx = event.originalEvent.touches[0].clientX - scope.xinitial;
							}
							var movex = scope.offsetx + scope.totaloffset;
							if (movex >= 0 && movex <= timeline_width) {
								currenttime.css({
									transform: 'translateX(' + movex + 'px)',
								});
								scope.currentoffset = movex;
							} else if (movex < 0) {
								currenttime.css({
									transform: 'translateX(0)',
								});
								scope.currentoffset = 0;
							} else {
								currenttime.css({
									transform: 'translateX(' + timeline_width + 'px)',
								});
								scope.currentoffset = timeline_width;
							}
							scope.getTime();
							scope.$apply();
						}
					});
			
					angular.element($window).on('mouseup touchend', function (event) {
						if (scope.moving) {
							// var roundsection = Math.round(scope.currentoffset / sectionlength);
							// var newoffset = roundsection * sectionlength;
							// currenttime.css({
							//     transition: 'transform 0.25s ease',
							//     transform: 'translateX(' + (newoffset - 1) + 'px)',
							//     cursor: 'pointer',
							// });
							// scope.currentoffset = newoffset;
							// scope.totaloffset = scope.currentoffset;
							// $timeout(function () {
							//     scope.getTime();
							// }, 250);
						}
						scope.moving = false;
					});

					scope.adjustTime = function (direction) {
						event.preventDefault();
						scope.initializeTimepicker();
						var newoffset;
						if (direction == 'decrease') {
							newoffset = scope.currentoffset - sectionlength;
						} else if (direction == 'increase') {
							newoffset = scope.currentoffset + sectionlength;
						}
						if (newoffset < 0 || newoffset > timeline_width) {
							if (newoffset < 0) {
								newoffset = timeline_width - sectionlength;
							} else if (newoffset > timeline_width) {
								newoffset = 0 + sectionlength;
							}
							if (scope.timeframe == 'am') {
								scope.timeframe = 'pm';
							}
							else if (scope.timeframe == 'pm') {
								scope.timeframe = 'am';
							}
						}
						currenttime.css({
							transition: 'transform 0.4s ease',
							transform: 'translateX(' + (newoffset - 1) + 'px)',
						});
						scope.currentoffset = newoffset;
						scope.totaloffset = scope.currentoffset;
						scope.getTime();
					};
				}

				// End Timepicker Code //

			}
		};
	});
	</script>
	<!--#endregion-->

	<!--#region Modal-->
	<script>
		// Get the modal
		var modal = document.getElementById("myModal");

		// Get the button that opens the modal
		var btn = document.getElementById("myBtn");

		// Get the <span> element that closes the modal
		var span = document.getElementsByClassName("close")[0];

		// When the user clicks the button, open the modal 
		btn.onclick = function() {
		modal.style.display = "block";
		}

		// When the user clicks on <span> (x), close the modal
		span.onclick = function() {
		modal.style.display = "none";
		}

		// When the user clicks anywhere outside of the modal, close it
		window.onclick = function(event) {
		if (event.target == modal) {
			modal.style.display = "none";
		}
		}
		</script>
	<!-- #endregion -->
</body>
</html>