body {
  font-size: .875rem;
}

/* HEADER 
-------------------------------------------------- */
header{
  background-color: #890000;
}

img.red-life-logo{
  height: 67px;
  padding: 5px;
}
  
img.profilePhoto{
  width: 40px;
  height: 40px;
  padding: 5px;
}

.profile{
  border: none;
  color: white;
  text-decoration: none;
  background: transparent;
}

.navbar .navbar-toggler {
  right: 1rem;
}

.profile-dropdown{
  width: 300px;
}

/* Sidebar
-------------------------------------------------- */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

/* Body
-------------------------------------------------- */

/* Modal */
.modal-dialog{
  overflow-y: initial !important
}
.modal-body{
  max-height: calc(100vh - 200px);
}

.blood-type-dropdown{
  border-radius: 0px;
  width: 100%;
  font-size: .875rem;
}

.col-sm-1, .col-sm-2, .col-sm-3{
  padding-right: 0px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 767.98px) {
  .sidebar {
    top: 3rem;
  }
}

@media (min-width: 770px) {
  .sidebar {
    top: 3rem;
  }
}

@media (max-width: 500px) {
  img.red-life-logo{
    width: 180px;
  }

  .profile-dropdown{
    width: 200px;
    font-size: smaller;
  }
}

@media (max-width: 768px){
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 100px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }
}

@media (width: 768px){
  .col-sm-1{
    width: 13%;
  }

  .col-sm-2{
    font-size: smaller;
    padding-left: 1px;
    width: 15%;
  }

  .col-sm-3{
    font-size: smaller;
    padding-left: 5px;
    width: 24%;
  }
}


@media (max-width: 575px){
  .col-sm-1, .col-sm-2, .col-sm-3{
    padding: 5px;

  }
}
