body {
  color: #5a5a5a;
}

/* HEADER 
-------------------------------------------------- */
img.red-life-logo{
width: 250px;
height: 72px;
padding: 5px;
}

.profile{
  border: none;
  color: black;
  text-decoration: none;
  background: transparent;
}

.nav-scroller {
position: relative;
z-index: 2;
height: 2.75rem;
overflow-y: hidden;
}

.nav-scroller .nav {
display: flex;
flex-wrap: nowrap;
padding-bottom: 1rem;
margin-top: -1px;
overflow-x: auto;
text-align: center;
white-space: nowrap;
-webkit-overflow-scrolling: touch;
}

.navbar-toggler{
color: black;
}

.nav-link.active {
font-weight: bold;
text-decoration: underline;
}

li.nav-item a:hover{
  background-color: none;
  text-decoration: underline;
}

ul.dropdown-menu a:hover{
  text-decoration: none;
}

/* BODY 
-------------------------------------------------- */
.color-overlay{
width: 100%;
height: 100%;
background-color: black ;
opacity: .7;
position: absolute;
}

.carousel {
margin-bottom: 4rem;
}

.carousel-caption {
bottom: 9rem;
z-index: 10;
}

.carousel-item {
height: 40rem;
}

.carousel-item > img {
position: absolute;
top: 0;
left: 0;
height: 40rem;
min-width: 100%;
}

h1{
text-transform: uppercase;
font-size: 80px;
margin-top: -20px;
color: red;
}

h6{
text-transform: uppercase;
font-size: 80px;
margin-bottom: -5px;
color: white;
}

/* FOOTER
-------------------------------------------------- */
.website-footer {
padding: 2.5rem 0;
color: #727272;
text-align: center;
background-color: #f9f9f9;
border-top: .05rem solid #e5e5e5;
}
.website-footer p:last-child {
margin-bottom: 0;
}

.col-12 img{
width: 40px;
height: 40px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (max-width: 2000px) {
  li{
    margin-right: 30px;
  }
}

@media (max-width: 1100px) {
  li{
    margin-right: 10px;
  }
}

@media (max-width: 999px) {
  h1{
    font-size: 60px;
    margin-top: 20px;
  }

  h6{
    font-size: 60px;
    margin-bottom: -40px;
  }
}

@media (max-width: 992px){
  li{
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 992px){
  .navbar-collapse {
    justify-content: end;
  }
}

@media (max-width: 767px) {
  h1{
    font-size: 50px;
    margin-top: 30px;
  }

  h6{
    font-size: 50px;
    margin-bottom: -40px;
  }
  }

  @media (max-width: 628px) {
  h1{
    font-size: 45px;
    margin-top: 30px;
  }

  h6{
    font-size: 45px;
    margin-bottom: -40px;
  }
}

@media (max-width: 580px) {
  img.red-life-logo{
    width: 250px;
  }

  li{
    margin-right: 0px;
  }

  h1{
    font-size: 40px;
    margin-top: 30px;
  }

  h6{
    font-size: 40px;
    margin-bottom: -40px;
  }

  .col-12 img{
    width: 25px;
    height: 25px;
  }

  h5{
    font-size:medium;
  }

  .carousel-caption {
    bottom: 8rem;
  }
}

@media (max-width: 400px) {
  img.red-life-logo{
    width: 200px;
  }
}

@media (max-width: 300px) {
  img.red-life-logo{
    width: 180px;
  }
}