body {
    color: #5a5a5a;
  }

/* HEADER 
-------------------------------------------------- */
header{
  background-color: #890000;
} 

img.red-life-logo{
	width: 325px;
	height: 72px;
	padding: 5px;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.navbar-toggler{
  color: black;
}

.nav-link.active {
  font-weight: bold;
  text-decoration: underline;
}

/* BODY 
-------------------------------------------------- */

div.bg-image{
  background-image: url('./../../res/img/donorpage-background.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 85vh;
  align-items: center;
}

.components .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.components .col-lg-4 p{
  margin-right: .75rem;
  margin-left: .75rem;
}


h1{
  text-transform: uppercase;
  font-weight:500;
  font-size: 150px;
  margin-top: -20px;
  color: red;
}

h6{
  text-transform: uppercase;
  font-weight:500;
  font-size: 80px;
  margin-left: 10px;
  margin-bottom: -50px;
  color: white;
}

img.logo {
	width: 150px;
	height: 150px;
}

.banner{
  padding-left: 20px;
  padding-right: 20px;
}

  


/* FOOTER
-------------------------------------------------- */

.website-footer {
  padding: 2.5rem 0;
  color: #727272;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.website-footer p:last-child {
  margin-bottom: 0;
}

.book{
  width:250px;
}
  
/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 2000px) {
  li{
   margin-right: 30px;
  }
  ul.navbar-nav{
    padding-right: 100px;
  }
}

@media (max-width: 1300px) {
  ul.navbar-nav{
    padding-right: 0px;
  }
}

@media (max-width: 1100px) {
  ul.navbar-nav{
    padding-right: 0px;
  }

  #hanging-icons{
    padding: 48px;
  }
}

@media (max-width: 999px) {
  li{
    margin-right: 0px;
   }

  .banner{
    padding: 25px;
    text-align: center;
  }

  .btn2-book{
    margin-top: 10px;
  }

  .book{
    width:250px;
  }
}

@media (max-width: 550px) {
  img.red-life-logo{
    width: 250px;
  }

  ul.navbar-nav{
    padding-right: 0px;
  }

  li{
    margin-right: 0px;
   }
   
  h1{
    font-size: 80px;
  }

  h6{
      font-size: 50px;
      margin-bottom: 5px;
      margin-left: 0px;
  }
  
  .banner{
    padding: 25px;
    text-align: center;
  }

  button{
    margin-top: 10px;
  }

  .book{
    width:250px;
  }

  #hanging-icons{
    padding: 20px;
  }
}

@media (max-width: 350px) {
  img.red-life-logo{
    width: 180px;
  }

  ul.navbar-nav{
    padding-right: 0px;
  }

  li{
    margin-right: 0px;
  }

  h1{
    font-size: 50px;
  }

  h6{
    font-size: 40px;
    margin-bottom: 5px;
    margin-left: 0px;
  }

  h5{
    font-size: 15px;
  }

  .book{
    width:180px;
    font-size: 15px;
  }

  .btn2-book{
    width:200px;
    font-size: 15px;
  }
}
