body {
  color: #5a5a5a;
}

/* HEADER */
img.red-life-logo{
	width: 350px;
	height: 97px;
	padding: 5px;
}

/* BODY */
.agreement-msg{
	text-align: center;
	padding: 10px;
	font-size: small;
  }

.error-msg{
text-align: center;
padding: 10px;
font-size: small;
}

/* FOOTER */
.container{
  position: relative;
}