body {
    color: #5a5a5a;
  }

  /* HEADER */
  img.red-life-logo{
    width: 320px;
    height: 67px;
    padding: 5px;
  }
  

/* BODY */

div.bg-image{
  background-image: url('./../../res/img/blood-transfusion.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 85vh;
  align-items: center;
}

h1{
    text-transform: uppercase;
    font-weight:500;
    font-size: 150px;
    margin-top: -20px;
    color: red;
  }
  
  h6{
      text-transform: uppercase;
      font-weight:500;
      font-size: 80px;
      margin-left: 10px;
      margin-bottom: -50px;
      color: white;
    }
  

img.logo {
	width: 150px;
	height: 150px;
}

.banner{
  padding-left: 200px;
  padding-right: 200px;
}

#contact, #track, #claim{
    margin-right: 0px;

}

#msform {
    text-align: center;
    position: relative;
    margin-top: 20px;
}

#msform fieldset .form-card {
    background: white;
    border: 0 none;
    border-radius: 10px;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 50px;
    box-sizing: border-box;
    width: 94%;
    margin: 0 3% 20px 3%;
    position: relative
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative
}

#msform fieldset:not(:first-of-type) {
    display: none
}

#msform fieldset .form-card {
    text-align: left;
    color: black;
}

#msform input,
#msform textarea {
    padding: 0px 8px 4px 8px;
    border: none;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 16px;
    letter-spacing: 1px
}

#msform input:focus,
#msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none;
    font-weight: bold;
    outline-width: 0
}

select.list-dt {
    border: none;
    outline: 0;
    border-bottom: 1px solid #ccc;
    padding: 2px 5px 3px 5px;
    margin: 2px
}

select.list-dt:focus {
    border-bottom: 2px solid skyblue
}

.card {
    z-index: 0;
    border: none;
    border-radius: 0.5rem;
    position: relative
}

.fs-title {
    font-size: 25px;
    color: #2C3E50;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey;
    padding: 5px;
}

#progressbar .active {
    color: #000000
}

#progressbar li {
    list-style-type: none;
    font-size: 12px;
    width: 33.33%;
    float: left;
    position: relative
}

#progressbar #contact:before {
    font-family: FontAwesome;
    content: "\f007"
}

#progressbar #track:before {
    font-family: FontAwesome;
    content: "\f041"
}

#progressbar #claim:before {
    font-family: FontAwesome;
    content: "\f073"
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 18px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: red
}




/*
 * FOOTER
 */
 .website-footer {
  padding: 2.5rem 0;
  color: #727272;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.website-footer p:last-child {
  margin-bottom: 0;
}

  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  @media (max-width: 100px) {
    img.red-life-logo{
      width: 310px;
      height: 57px;
      margin-left: 0px;
    }
  }

  @media (max-width: 1500px) {
    li{
      margin-right: 25px;
    }
  }

  @media (max-width: 390px) {
    h1{
        font-size: 80px;
      }
  
    h6{
        font-size: 50px;
        margin-bottom: 5px;
        margin-left: 0px;
    }
  
    li{
      margin-right: 0px;
    }
    .banner{
      padding: 25px;
      text-align: center;
    }

    button{
      margin-top: 10px;
    }

    .track{
        width:200px;
    }
  }